# Exemplo de arquivo .env

# URL de conexão com o banco de dados PostgreSQL
# Substitua os valores entre < > pelos valores específicos do seu ambiente
DATABASE_URL="postgresql://<usuario>:<senha>@<host>:<porta>/<nome-do-banco-de-dados>"